body
	{
		font-family: Arial;
		font-size:12pt;
		background: #DDDDDD; /* light grey */
	}
	
#main_div
	{
		position: absolute;
		top: 2;
		left: 0;
		right: 0;
		bottom: 2;
		width: 994px;
		margin: 1px auto;
		border: 2px solid #FFFFFF;	/* white */
		background-color: #DDDDDD;    /*   999999 dark grey    */
		padding: 3px; 
		
		/* height: 100%; */
		max-height: 565;
		/* max-height:600px; */
		/* overflow: hidden; */
		background: #EEEEDD;
		z-index:-2; 
		overflow: auto;
	}
	
div
	{
		position: relative;
		background: #FFFFFF;	/* 66DDFF sky blue */
		/*width: 50%;*/
		overflow: auto;
		/* border: 3px solid #FFFF55; */
	}
	
.div_mainpage
	{
		float:left;
		width: 100%;
		/*height: 400px; */
		bottom: 60;
		/* position: absolute; */
		/* top: 72; */
	}

#div_menu
{
	float:left;
		width: 100%;
		position: absolute;
		top: 72;
}
	


	
#div_right
	{
		/* position:absolute; */
		float: right;
		/* left: 2px; */
		width: 40%;
		/* height: 500px; */
		/* overflow: auto; */
		height:432;
		border-bottom: solid #111 1px;
		background: #AACCEE;
	}
	
#div2
	{
		/* top: 72; */
		float: left;
		top: 0; 
		position: relative; 
		width:100%;
		background: #AACCEE;
		overflow: auto; 
		min-height: 200; 
		height: 432;
		border-bottom: solid #111 1px;
	}

#div3
	{
		float: right;
		width: 40%;
		background: #AACCEE;
		padding: 0;
		/* position: absolute; */
		top:0;
		bottom: 0;
		min-height: 202; 
		height: 202;
		/* max-height: 300; */
		/* padding-bottom:60px;  */  /* Height of the bottom_div */
		border-bottom: solid #111 1px;
	}
	
	#div4
	{
		float: left;
		background: #AACCEE;
		padding: 0;
		/* position: absolute; */
		top: 2;
		bottom: 1;
		width: 100%; 
		min-height: 197; 
		height: 197;
		/* max-height: 300; */
		/* padding-bottom:60px;  */  /* Height of the bottom_div */
		border-bottom: solid #111 1px;

	}

#bottom_div
	{
		/* clear:both; */ 
		/* position: absolute; */
		bottom: 0px;
		/* width: 993; */
		width: 100%;
		min-width: 900;
		margin: 0px auto;
		border: 0px solid #FFFFFF;	/* white */
		background-color: #DDDDDD;    /*   999999 dark grey    */
		background: url('images/vf1_bg.png');
		padding: 0px; 
		height: 59;
		z-index:0;
		
		/*height: 8%; */
	}

.div_image
	{
		width: 400px;      /*  360  */ 
		height: 300px;     /*   260  */
		float: left; 
		left: 10px;
		text-align: center; 
		border: 1px solid #777; 
		margin: 5px 5px 5px 5px;
	}

.div_image img
	{
		width: 380px;
		height: 275px;
		padding: 2px; 
		border: 0px; 
		margin: 0px auto; 
	}
	
.div_image .caption
	{ 
		padding: .2em;
		background: #eee; 
		border-top: 1px solid #555; 
		display: block;
		font-family: Courier;
		text-align: left;
		font-size: 12px;
	}
	
h2
	{
		vertical-align: bottom;
		font-family: Arial;
		font-size:16pt;
		background: #EEEEDD;	/* 9955FF purple */
		background: #535353;	/* 9955FF purple */
		padding: 3px 3px 3px 3px;
		margin: 0px 0px 0px 0px; 
		border: 3px solid #FFFF55;	/* yellow */
		color: yellow;
	}
	
p
	{
		padding: 3px 3px 3px 3px;
		margin: 0px auto;
		/*background: #EEDDEE;*/
	
	
	}
	
a:link {color:#116666}      /* unvisited link */
a:visited {color:#116666}  /* visited link */
a:hover {color:#FF6666}  /* mouse over link */
a:active {color:#116666}  /* selected link */

ul {
	position:relative;
	left:0;
	/* top:1.5em;  */
	float:left; 
	background:#ddd;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	border-top:0px solid #fff;
}

li{
	padding: 4px 4px 4px 4px;
	min-width: 100px;
	float:left;
	display:block;
	margin:4px 2px 0 0px;
	background: #FEFEFE;
	font-size: 12pt;
	font-weight: bold;
}

 .this_page
	{
		font-size: 14pt;
		background: #EEEEDD; 
		color: #6666DD;		
	}


.p1
	{
		clear: both;
		font-family: Arial;
		font-size:12pt;	
		font-weight: bold;
		color: #6666DD;		/* yellow */
		background: #EEEEDD;     /* DDDDAA: light gold; 999999: dark grey  */
	}

.p2
	{
		font-size:14pt;	
		background: #FFFFFF /* when used in combination with .p1, it will just override font size and background color... */
	}
	
.p_message {
		font-size: 10pt;
		color: #6666DD;		/* yellow */
		background: #EEEEDD;     /* DDDDAA: light gold; 999999: dark grey  */
	}
	

	
.table1 
	{
		width: 99%;
		margin:2px 2px;
		font-size:12px;
		border:1px solid #000000; 
		background: #FFFFFF;
	}

.table1 th 
	{
		min-width: 60px;
		font-weight:bold;
		color:#0099AA;
		vertical-align:middle; 
		text-align:center;
		border:1px solid #000000; 
		background: yellow;
		padding: 2px 2px 2px 2px;
	}
	
.table1 td 
	{
		font-weight:normal;
		color:#000099;
		vertical-align:top; 
		text-align:left;
		border:1px solid #000000; 
		padding: 2px 2px 2px 2px;
	}

.table2 
	{
		width: 49%;
		margin:2px 2px;
		font-size:12px;
		border:1px solid #000000; 
		background: #FFFFFF;
	}

.table2 th 
	{
		min-width: 60px;
		font-weight:bold;
		color:#0099AA;
		vertical-align:middle; 
		text-align:center;
		border:1px solid #000000; 
		background: yellow;
		padding: 2px 2px 2px 2px;
	}
	
.table2 td 
	{
		font-weight:normal;
		color:#000099;
		vertical-align:middle; 
		text-align:left;
		border:1px solid #000000; 
		padding: 2px 2px 2px 2px;
	}




input[readonly='true']
	{
		background: #CCCCCC;
	}

.table2
	{
		background: #AA96A4;
	}

.table2 td
	{
		background: #FFFFFF;
		margin: 12px 12px auto;
		vertical-align: bottom;
	}
	
.clear{ clear:both; }
	
.licence_disclaimer
	{
		padding: 4px;
		font-family: Arial;
		font-size:10pt;
		text-align: justify;
		color: #FFFFFF;
	}
	
.img_vf1
	{
		width: 60;
		height: 50;
		float: left;
		padding: 2px 0 6 6;
	}
