body
	{
		font-family: Arial;
		font-size:12pt;
		background: #DDDDDD; /* light grey */
	}
	
#main_div
	{
		position: absolute;
		top: 4px;
	    text-align: left;
		left: 10px;
		right: 0;
		width: 994px;
		margin: 1px auto;
		border: 2px solid #DEEFD8;	/* white */
		background-color: #999999;    /*   999999 dark grey    */
		padding: 3px;
		background: #DEEFD8;
		z-index: -2;
		box-shadow: 0px 0px 4px 2px #999999;
	
	}
	
div
	{
		position: relative;
		/*background: #FFFFFF;	/* 66DDFF sky blue */
		/*width: 50%;*/
		/*overflow: auto;*/
		/* border: 3px solid #FFFF55; */
	}
	
.div_mainpage
	{
		float:left;
		width: 100%;
		/*height: 400px; */
		bottom: 60;
		/* position: absolute; */
		/* top: 72; */
	}

#div_menu
{
	float:left;
		width: 100%;
}
	


	
#div_right
	{
		/* position:absolute; */
		float: right;
		/* left: 2px; */
		width: 40%;
		/* height: 500px; */
		/* overflow: auto; */
		height:432;
		border-bottom: solid #111 1px;
		background: #AACCEE;
	}
	
#div2
	{
		/* top: 72; */
		float: center;
		top: 0; 
		position: relative; 
		width:100%;
		background:#DEEFD8;
		min-height: 200;
		height:800px;
		/*border-bottom: solid #111 1px;*/
	}

#div3
	{
		float: right;
		width: 40%;
		background: #AACCEE;
		padding: 0;
		/* position: absolute; */
		top:0;
		bottom: 0;
		min-height: 202; 
		height: 202;
		/* max-height: 300; */
		/* padding-bottom:60px;  */  /* Height of the bottom_div */
		border-bottom: solid #111 1px;
	}
	
	#div4
	{
		float: left;
		background: #AACCEE;
		padding: 0;
		/* position: absolute; */
		top: 2;
		bottom: 1;
		width: 100%; 
		min-height: 197; 
		height: 197;
		/* max-height: 300; */
		/* padding-bottom:60px;  */  /* Height of the bottom_div */
		border-bottom: solid #111 1px;

	}
#div5
{
	text-align: center;
	top: 220;
	}


.div_image
	{
	alignment: left;
	float: left;
	Left: 0.5;
	Top: -1.5;
	text-align: center;
	border: 1px solid #777;
	margin: 5px 5px 5px 5px;
	}

.div_image img
	{
		width: 38px;
		height: 25px;
		padding: 2px; 
		border: 0px; 
		margin: 0px auto;
	}
	
.div_image .caption
	{ 
		padding: .2em;
     	background: #eee;
		border-top: 1px solid #555; 
		display: block;
		font-family: Courier;
		text-align: left;
		font-size: 12px;
	}
	
h1
{
	
	}
h2
	{
		vertical-align: bottom;
		font-family: Arial;
		font-size:16pt;
/*		background: #EEEEDD;	 9955FF purple */
		background: #377A15;	/* 9955FF purple */
		padding: 3px 3px 3px 3px;
		margin: 0px 0px 0px 0px; 
/*		border: 3px solid #FFFF55;	yellow */
		color: #FFF;
		font-family:Tahoma, Geneva, sans-serif;
	}
	
p
	{
		padding: 3px 3px 3px 3px;
		margin: 0px auto;
		/*background: #EEDDEE;*/
	
	
	}
	
a:link {
	color:#000;
	text-decoration:none;
}
a:visited {color:#000}  /* visited link */
a:hover {color:#4BBC5C}  /* mouse over link */
a:active {color:#000}  /* selected link */

#div_menu a,
#div_menu a:active,
#div_menu a:visited {
	color:#000;
}

#div_menu a:hover {
	color: #4BBC5C;
}

.p1 a,
.p1 a:active,
.p1 a:visited {
	color:#000;
}

.p1 a:hover {
	color: #4BBC5C;
}




ul {
	position:relative;
	left:0;
	/* top:1.5em;  */
	float:left; 
	background:#DEEFD8;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	border-top:0px solid #fff;
}

li{
	padding: 4px 10px;
	min-width: 100px;
	text-align:center;
	float:left;
	display:block;
	margin:4px 2px 0 0px;
	background: #FEFEFE;
	font-size: 12pt;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}

.this_page
{
	font-size: 14pt;
	background: #CBCBCB; 
	color: #FFF;		
}
.this_subpage
{
	color: #FFF;		
}


.p1
	{
		clear: both;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12pt;	
		font-weight: bold;

/*		color:#FFF*/
		background: #CBCBCB;     /* DDDDAA: light gold; 999999: dark grey  */
	}

.p2
	{
		font-size:14pt;	
		background: #FFFFFF /* when used in combination with .p1, it will just override font size and background color... */
	}
	
.p_message {
		font-size: 10pt;
		color: #6666DD;		/* yellow */
		background: #EEEEDD;     /* DDDDAA: light gold; 999999: dark grey  */
	}

.err_messages {
	font-size: 14pt;
	color: red;		/* yellow */
	background: #EEEEDD; 
}

.p_errmessage {
	font-size: 10pt;
	
}
	

	
.table1 
	{
		width: 99%;
		margin:2px 2px;
		font-size:12px;
		border:1px solid #000000; 
		background: #FFFFFF;
		border-collapse:collapse;
	}

.table1 th 
	{
		min-width: 60px;
		font-weight:bold;
		color:#FFF;
		vertical-align:middle; 
		text-align:center;
		border:1px solid #000000; 
		background: rgba(55, 122, 21, 0.71);
		padding: 2px 2px 2px 2px;
	}
		
.table1 td 
	{
		font-weight:normal;
		color:#000;
		vertical-align:top; 
		text-align:left;
		border:1px solid #000000; 
		padding: 2px 2px 2px 2px;
	}

.table2 
	{
		width: 49%;
		margin:2px 2px;
		font-size:12px;
		border:1px solid #000000; 
		background: #FFFFFF;
	}

.table2 th 
	{
		min-width: 60px;
		font-weight:bold;
		color:#0099AA;
		vertical-align:middle; 
		text-align:center;
		border:1px solid #000000; 
		background: yellow;
		padding: 2px 2px 2px 2px;
	}
	
.table2 td 
	{
		font-weight:normal;
		color:#000099;
		vertical-align:middle; 
		text-align:left;
		border:1px solid #000000; 
		padding: 2px 2px 2px 2px;
	}




input[readonly='true']
	{
		background: #CCCCCC;
	}

.table2
	{
		background: #AA96A4;
	}

.table2 td
	{
		background: #FFFFFF;
		margin: 12px 12px auto;
		vertical-align: bottom;
	}
	
.clear{ clear:both; }
	
.licence_disclaimer
	{
		padding: 4px;
		font-family: Arial;
		font-size:10pt;
		text-align: justify;
		color: #FFFFFF;
	}
	
.img_vf1
	{
		width: 60;
		height: 50;
		float: left;
		padding: 2px 0 6 6;
	}

.redText {
	color: red;
}
